body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
.emptyExample3 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.redExample3 {
  background-color: red;
  width: 80px;
}

.blueExample3 {
  background-color: blue;
  width: 80px;
}

.emptyExample4 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.redExample4 {
  background-color: red;
  flex: 1;
}

.blueExample4 {
  background-color: blue;
  width: 80px;
}

.center5 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.square5 {
  height: 50px;
  width: 50px;
  background-color: red;
}

.centerExample6 {
  display: flex;
  flex: 1;
  justify-content: center;
}

.otherExample7 {
  flex: 1;
  height: 100%;
}
.blueExampleUp7 {
  height: 33%;
  background-color: blue;
}
.emptyExample7 {
  height: 34%;
}
.blueExampleDown7 {
  height: 33%;
  background-color: blue;
}

.orangeExample8 {
  width: 5%;
  background-color: orange;
}

.spaceExample8 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.orangeExample9 {
  width: 18%;
  background-color: orange;
}

.spaceExample9 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
